# Exploratory Analysis of Sales data
Data has already been cleaned and loaded in SQLite databae for analysis

In [31]:
import pandas as pd
import sqlite3
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
data_path = "../data"
db_name = "SalesData.sqlite"
conn = sqlite3.connect(os.path.join(data_path, db_name))
df = pd.read_sql("SELECT * FROM sales", conn, index_col="index")

In [33]:
df.head()

,sale_id,sale_date,buyer_email_address,transaction_type,total_usd,num_items
index,,,,,,
0,536365,2010-12-01 08:26:00,17850,Sale,139.12,40
1,536366,2010-12-01 08:28:00,17850,Sale,22.20,12
2,536367,2010-12-01 08:34:00,13047,Sale,278.73,83
3,536368,2010-12-01 08:34:00,13047,Sale,70.05,15
4,536369,2010-12-01 08:35:00,13047,Sale,17.85,3

In [34]:
df["sale_date"] = pd.to_datetime(df["sale_date"])

# Sales Rate
Sales Rate will be defined as total Sales per Week per Customer

In [37]:
df["Week"] = df['sale_date'] - pd.to_timedelta(df['sale_date'].dt.dayofweek, unit='d')
df["Week"] = df["Week"].dt.date

In [39]:
sales_rate = df[["buyer_email_address", "Week", "total_usd"]].groupby(["buyer_email_address", "Week"]).sum()